body {
  font-family: sans-serif;
  margin: 8px 75px;
  height: 800px;
  background-image: radial-gradient(circle, rgba(238, 174, 212, 0.972) 0%, rgb(145, 190, 241) 100%);
}

h1 {
  font-size: 17px;
  margin: 0;
}

h4 {
  font-size: 16px;
  margin: 0;
}

h5 {
  font-size: 15px;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #f4f6ef;

}

.stories-container{
  height: calc(100vh - 100px);
  overflow: scroll;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: 8px 18px 0;
}

form > * {
  margin: 10px 0;
}

form label {
  font-size: 15px;
  font-weight: 650;
  display: inline-block;
  width: 56px;
  text-align: right;
  margin-right: 5px;
}

form input {
  font-size: 13px;
  border: none;
  border-radius: 2px;
  padding: 8px;
  width: 300px;
  box-shadow: 0 0 3px 1px lightgray;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 4px 1px darkgray;
}

form > button {
  width: 64px;
  margin: 5px 0 15px 65px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 13px;
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}

form > button:hover {
  background-color: dimgray;
}

form > hr {
  margin: 0;
  border: 1px solid lightgray;
}

.login-input label {
  width: 70px;
}
